<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>RadioField</title>
    </head>
    <body>
        <form id="app" class="container mx-auto mb-6">
            <h1 class="text-4xl mb-6">radio-field</h1>
            
            <h3 class="text-2xl mb-3">Block Layout</h3>

            <div class="mb-3">color: {{ color }}</div>

            <radio-field v-model="color" name="color" value="red">Red</radio-field>
            <radio-field v-model="color" name="color" value="green">Green</radio-field>
            <radio-field v-model="color" name="color" value="blue">Blue</radio-field>
            <radio-field v-model="color" name="color" value="yellow" readonly>Yellow (Readonly)</radio-field>
            <radio-field v-model="color" name="color" value="orange" disabled>Orange (Disabled)</radio-field>

            <h5 class="text-2xl mt-6 mb-3">Inline Layout</h5>

            <radio-field name="inline" label="Red" value="red" inline></radio-field>
            <radio-field name="inline" label="Green" value="green" inline></radio-field>
            <radio-field name="inline" label="Blue" value="blue" inline></radio-field>
            <radio-field name="inline" label="Yellow" value="yellow" readonly inline>Yellow (Readonly)</radio-field>

            <hr class="my-6">

            <h3 class="text-3xl mb-3">Sizes</h3>

            <radio-field name="size" size="sm" placeholder="Small">Small</radio-field>
            <radio-field name="size" size="md" placeholder="Medium">Medium</radio-field>
            <radio-field name="size" size="lg" placeholder="Large">Large</radio-field>

            <hr class="my-6">

            <h3 class="text-3xl mb-3">Colors</h3>

            <radio-field name="colors" label="Primary" text-white bg-primary></radio-field>
            <radio-field name="colors" label="Secondary" text-white bg-secondary></radio-field>
            <radio-field name="colors" label="Success" text-white bg-success></radio-field>
            <radio-field name="colors" label="Danger" text-white bg-danger></radio-field>
            <radio-field name="colors" label="Warning" text-white bg-warning></radio-field>
            <radio-field name="colors" label="Info" text-white bg-info></radio-field>
            <radio-field name="colors" label="Dark" text-light bg-dark></radio-field>
            <radio-field name="colors" label="Muted" text-dark bg-muted></radio-field>
            <radio-field name="colors" label="White" text-dark bg-white></radio-field>

            <hr class="my-6">

            <h3 class="text-3xl mb-3">Validation</h3>

            <radio-field label="Single Inline Error" required error="This is an inline error."></radio-field>

            <radio-field name="multiple" label="Multiple Errors From Object" :errors="{'multiple': ['This is an inline error #1.', 'This is an inline error #2.']}"></radio-field>
        </form>

        <script type="module">
            import './index.css';
            import Vue from 'vue/dist/vue';
            import { RadioField } from './index.js';
            
            Vue.config.devtools = false;
            Vue.config.productionTip = false;
            
            const vue = new Vue({
                el: '#app',
                components: {
                    RadioField
                },
                data() {
                    return {
                        color: 'orange'
                    };
                }
            });
        </script>
    </body>
</html>
