<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RadioField</title>
</head>

<body class="dark:bg-neutral-900 dark:text-white">
    <form id="app" class="container mx-auto mb-6">
        <h1 class="text-4xl mb-6">radio-field</h1>

        <radio-field v-model="colors" label="Red" value="red"></radio-field>
        <radio-field v-model="colors" label="Green" value="green"></radio-field>
        <radio-field v-model="colors" label="Blue" value="blue"></radio-field>
        <radio-field v-model="colors" label="Yellow" value="yellow"></radio-field>
        <radio-field v-model="colors" label="Pink" value="pink" disabled>Pink (Readonly)</radio-field>

        <hr class="my-6">

        <h3 class="text-3xl mb-3">Sizes</h3>

        <radio-field name="size[]" size="sm" placeholder="Small">Small</radio-field>
        <radio-field name="size[]" size="md" placeholder="Medium">Medium</radio-field>
        <radio-field name="size[]" size="lg" placeholder="Large">Large</radio-field>

        <hr class="my-6">

        <h3 class="text-3xl mb-3">Validation</h3>

        <radio-field label="Empty Array of Errors" value="1" :errors="[]" class="mb-3"></radio-field>

        <radio-field label="Single Inline Error" value="1" class="mb-3" error="This is an inline error."></radio-field>

        <radio-field name="multiple" value="1" class="mb-3" label="Multiple Errors From Object" :errors="{'multiple': ['This is an inline error #1.', 'This is an inline error #2.']}"></radio-field>
    
        <radio-field label="Valid Field" value="1" valid class="mb-3"></radio-field>

        <radio-field label="Valid Field with Feedback" value="1" valid feedback="This is some success message." class="mb-3"></radio-field>
        
        <radio-field label="Valid Field with Array of Feedback" value="1" valid :feedback="['This is some success message.', 'This is some success message.']" class="mb-3"></radio-field>
    </form>

    <script type="module">
        import './index.css';
        import { createApp } from 'vue/dist/vue.esm-bundler.js';
        import { RadioField } from './index.ts';

        const vue = createApp({
            components: {
                RadioField
            },
            data() {
                return {
                    colors: 'yellow'
                };
            }
        });

        vue.mount('#app')
    </script>
</body>

</html>